ImageHash==4.3.2
grad-cam==1.5.5
--extra-index-url https://download.pytorch.org/whl/cu130
ipykernel==7.4.0
matplotlib==3.11.2
numpy==2.4.6
opencv-python-headless==5.0.0.93
pandas==2.2.3
Pillow==12.3.0
PyYAML==6.0.3
scikit-learn==1.7.2
seaborn==0.13.2
torch==2.13.0+cu130
torchvision==0.28.0+cu130